/* General styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    
  }
  
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa;
  }
  
  form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #004d40;
  }
  
  /* Additional styling for buttons */
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  h2 {
    color: #00796b;
    margin-bottom: 20px;
  }
  
  .container {
    text-align: center;
  }
  
  .container button {
    margin: 5px;
  }
  
  /* Responsiveness */
  @media (max-width: 600px) {
    form {
      width: 100%;
      padding: 15px;
    }
  
    input, select, button {
      font-size: 14px;
    }
  }
  